antlr4-python3-runtime==4.9.3
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2024.7.4
charset-normalizer==3.3.0
gitdb==4.0.10
GitPython==3.1.41
idna==3.7
peewee==3.16.3
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.32.4
simplejson==3.19.2
six==1.16.0
smmap==5.0.1
soupsieve==2.5
stix2==3.0.1
stix2-patterns==2.0.0
urllib3==2.5.0
python-dotenv
eventlet==0.38.1
celery==5.3.4
redis==5.2.1
kombu==5.4.2
flower==2.0.1
tqdm==4.67.1
stix2extensions
arango_cve_processor @ https://github.com/muchdogesec/arango_cve_processor/archive/38ac1d5c050f1a6e6c6339050b967dc934b9b3a0.zip