antlr4-python3-runtime==4.9.3
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==3.3.0
gitdb==4.0.10
GitPython==3.1.37
idna==3.4
peewee==3.16.3
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
simplejson==3.19.2
six==1.16.0
smmap==5.0.1
soupsieve==2.5
stix2==3.0.1
stix2-patterns==2.0.0
urllib3==2.0.6
python-dotenv
eventlet
celery==5.3.4
redis
flower
https://github.com/muchdogesec/stix2extensions/releases/download/main-2024-11-27-15-30-32/stix2extensions-0.0.2b1-py3-none-any.whl